<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{{ asset('back_office/assets/vendors/mdi/css/materialdesignicons.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back_office/assets/vendors/flag-icon-css/css/flag-icon.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back_office/assets/vendors/css/vendor.bundle.base.css') }}" />
    <link rel="stylesheet" href="{{ asset('back_office/assets/vendors/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back_office/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back_office/assets/css/style.css') }}" />
    <link rel="shortcut icon" href="{{ asset('back_office/assets/images/h.png') }}" />
    </head>
  <body>
 
  <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row"  style="background-color: #FBFCFA; color: #fff; padding: 20px;">
  <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between" style="background-color: #FBFCFA; color: #fff; padding: 20px;">
  <h3 class="mb-0" style="font-family: ' Helvetica', sans-serif; color: #94BDB5; font-weight: bold; font-style: italic; text-align: center; " >{% block page_heading %}Bienvenue à Hermes Voyage{% endblock %}</h3>
    <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img src="back_office/assets/images/hermesfinal.png" alt="logo"></a>
    <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
 
    </button>
    <ul class="navbar-nav"  style="background-color: #FBFCFA; color: #fff; padding: 20px;">
      <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex" style="background-color: #FBFCFA; color: #fff; ">
        <form class="nav-link form-inline mt-2 mt-md-0">
 
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
 
            <div class="input-group-append">
              <span class="input-group-text">
 
                <i class="mdi mdi-magnify"></i>
              </span>
            </div>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
 
    <div class="container-scroller">
     <nav class="sidebar sidebar-offcanvas active" id="sidebar"  style="background-color: #94BDB5; color: #fff; ">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
          <a class="sidebar-brand brand-logo" href="#"> 
 
 
        </div>
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <i class="mdi mdi-home menu-icon"></i>
 
              <span class="menu-title"> Acceuil</span>
            </a>
          </li>


          <li class="nav-item active">
            <a class="nav-link" href="{{ path('app_evenement_eventfront') }}">
              <i class="mdi mdi-home menu-icon"></i>
 
              <span class="menu-title"> Front Office</span>
            </a>
          </li>


         <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="true" aria-controls="ui-basic">
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              <span class="menu-title">Gestion hebergement </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#">hebergement </a>
                </li>
              </ul>
            </div>
 
           <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="true" aria-controls="ui-basic">
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              <span class="menu-title">Gestion evenements</span>
              <i class="menu-arrow"></i>
            </a>
          <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_evenement_index') }}">evenements</a>
                </li>
              </ul>
            </div>

                        <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_billet_index') }}">billets</a>
                </li>
              </ul>
            </div>
             <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="true" aria-controls="ui-basic">
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              <span class="menu-title">Gestion transport</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#">transport </a>
                </li>
              </ul>
            </div>
             <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="true" aria-controls="ui-basic">
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              <span class="menu-title">Gestion des utilisateurs </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#"> utilisateurs </a>
                </li>
              </ul>
            </div>
             <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="true" aria-controls="ui-basic">
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              <span class="menu-title">Gestion E-Tourism</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#">E-Tourism</a>
                </li>
              </ul>
            </div>
 
          <li class="nav-item sidebar-actions">
            <div class="nav-link">
              <div class="mt-4">
                <div class="border-none">
                  <p class="text-black">Notification</p>
                </div>
                <ul class="mt-4 pl-0">
                  <li>Sign Out</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
 
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <!-- Theme Settings Content Goes Here -->
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <!-- Navbar Content Goes Here -->
        </nav>
        <div class="main-panel">
          <div class="content-wrapper pb-0">
 
            <div class="page-header flex-wrap">
 
 
 
 
 
              <div class="d-flex">
                <!-- Page Header Buttons Goes Here -->
              </div>
            </div>








  



{% block body %}



 


    <table class="table" id="t">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Lieu</th>
                <th>Type</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="all">
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.datedebut ? evenement.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.datefin ? evenement.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>{{ evenement.type }}</td>
                                
            <td> <img src="{{ asset(evenement.image) }}" alt="" style="width: 100px;height:100px"> </td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_evenement_show', {'id': evenement.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        
         <tbody id="search">
          </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_evenement_new') }}">Ajouter</a>

        <a class="btn btn-primary" href="{{ path('statmohamed') }}">Statistique Evenement selon type</a>
        <a class="btn btn-primary" href="{{ path('app_pdf') }}">Générer evenement PDF</a>

            <button class="btn btn-warning">{{ knp_pagination_render(evenements) }}</button>


{% endblock %}






                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
                                </script>
                                <script>
                                    $( document ).ready(function() {

                                        /*begin rechercher avancee multicritéres selon sujet et staus*/
                                        $("#divs").keyup(function(e){
                                            /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                                            var value = $("#search").val();
                                            var value2 = $("#search2").val();
                                            if(value.length >= 2 || value.length == 0 || value2.length >= 2 || value2.length == 0 )
                                            {
                                              
                                                //    alert(value);
                                                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                                                $.ajax({
                                                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                                                    url : "{{ path('search') }}",
                                                    /* La méthode utilisée pour transférer les données est GET */
                                                    type : 'GET',
                                                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                                                    data: {
                                                        'searchValue' : value,
                                                        'searchValue2': value2
                                                    },
                                                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                                                    success : function(retour){
                                                        if(retour){
                                                            $('#t tbody#search').empty();
                                                            $.each(JSON.parse(retour), function(i, obj) {
                                                                $('#t tbody#all').hide();

                                                      var imagePath = '/' + obj.image; // Modifiez le chemin si nécessaire
                                                       var imageHtml = '<img src="' + imagePath + '" alt="Evenement Image" style="width: 100px;height:100px">';
                                                                $('#t tbody#search').append('<tr><td> '+obj.id+'  </td><td>    '+obj.titre+'  </td><td>'+obj.description+' </td> <td>'+obj.datedebut+' </td>   <td>'+obj.datefin +' </td> <td>'+obj.lieu+' </td> <td>'+imageHtml+' </td>  <td> <a href="/evenement/'+obj.id+'/edit">edit</a></td></tr>');
                                                            });
                                                        }
                                                        else
                                                        {
                                                            $('#t tbody#all').show();
                                                            $('#t tbody#search').empty();
                                                            $('#t tbody#search').fadeIn('fast');
                                                        }
                                                    },
                                                });
                                                return false;
                                            }
                                        });

                                    });
                                    /*end rechercher avancee multicritéres selon sujet et staus*/
                                </script>



























































</div>
          <footer class="footer">
            <footer class="footer">
  
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">&copy; 2024 Hermes Voyage. Tous droits réservés.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

          </footer>
        </div>
      </div>
    </div>

  </body>

</html>


