{% extends 'base_back.html.twig' %}

{% block title %}Hebergement index{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content %}
    <h1>Hebergement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Maxguest</th>
                <th>Room</th>
                <th>Description</th>
                <th>Amenitites</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hebergement in hebergements %}
            <tr>
                <td>{{ hebergement.id }}</td>
                <td>{{ hebergement.adresse }}</td>
                <td>{{ hebergement.type }}</td>
                <td>{{ hebergement.prix }}</td>
                <td>{{ hebergement.maxguest }}</td>
                <td>{{ hebergement.room }}</td>
                <td>{{ hebergement.description }}</td>
                <td>
                <ul>
                    {% for amenities in hebergement.amenities %}
                        <li>{{ amenities }}</li>
                    {% endfor %}
                </ul>
            </td>
                <td>
                    <a href="{{ path('app_hebergement_show', {'id': hebergement.id}) }}">show</a>
                    <a href="{{ path('app_hebergement_edit', {'id': hebergement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hebergement_new') }}">Create new</a>
{% endblock %}
