{% extends '/base_back.html.twig' %}

{% block title %}Hebergement{% endblock %}
{% block stylesheets %}Hebergement{% endblock %}

{% block content %}
    <h1>Hebergement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hebergement.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ hebergement.adresse }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ hebergement.type }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ hebergement.prix }}</td>
            </tr>
            <tr>
                <th>Maxguest</th>
                <td>{{ hebergement.maxguest }}</td>
            </tr>
            <tr>
                <th>Room</th>
                <td>{{ hebergement.room }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hebergement.description }}</td>
            </tr>
            <tr>
                <th>Amenitites</th>
                <td>{{ hebergement.amenitites }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hebergement_index') }}">back to list</a>

    <a href="{{ path('app_hebergement_edit', {'id': hebergement.id}) }}">edit</a>

    {{ include('hebergement/_delete_form.html.twig') }}
{% endblock %}
