{% extends 'base_front.html.twig' %}

{% block title %}Guide{% endblock %}

{% block content %}
  
 <table  border="0" width="100%">
 <tr>
 <td>
            <p>
                <strong>Nom</strong> {{ guide.nom }}
                </td>
                <td rowspan="4">
               <img src="{{ asset('Images/' ~  guide.image ) }}" alt="Product Thumb" >
               </td>
            </p>
            </tr>
            <tr>
             <td>
            <p>
                <strong>prenom</strong> {{ guide.prenom }}
                 </td></tr>
            </p>
            <tr>
            <td>
            <p>
                <strong>Tel</strong> {{ guide.numTel }}
              </p>   </td></tr>
            
            
            <tr>
             <td>
            <p>
               <strong>Disponibilite</strong> {{ guide.disponibilite ? 'Yes' : 'No' }}
                 </td></tr>
            </p>
            
             </tr>
              
            </table> 


    <table class="table" width="100%">
        
        <tbody>
        {% for excursion in excursions %}
            <tr>

                <td>{{ excursion.titre }}</td>
                <td rowspan="2">
                <iframe width="560" height="315" src="{{ asset('Video/' ~ excursion.video) }}" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </td>
                </tr>
<tr>
<td>
            
            {{ excursion.description }}</td>
                
                </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 


{% endblock %}
